# User-specific files 
*.suo 
*.user 
*.userosscache 
*.sln.docstates 
# Build results 
[Dd]ebug/ 
[Dd]ebugPublic/ 
[Rr]elease/ 
[Rr]eleases/ 
x64/ 
x86/ 
bld/ 
[Bb]in/ 
[Oo]bj/ 
# Visual Studio 2015/2017 cache/options directory 
.vs/ 
# Visual Studio Code 
.vscode/ 
# MSTest test Results 
[Tt]est[Rr]esult*/ 
[Bb]uild[Ll]og.* 
# .NET Core 
project.lock.json 
project.fragment.lock.json 
artifacts/ 
# ASP.NET Scaffolding 
ScaffoldingReadMe.txt 
# StyleCop 
StyleCopReport.xml 
# Files built by Visual Studio 
*.pdb 
*.ipdb 
# TFS 2012 Local Workspace 
$tf/ 
# SQL Server files 
*.mdf 
*.ldf 
# Node.js Tools for Visual Studio 
node_modules/ 
# Visual Studio cache files 
*.[Cc]ache 
!*.[Cc]ache/ 
# Others 
ClientBin/ 
~$* 
*~ 
*.dbmdl 
*.pfx 
# NuGet Packages 
*.nupkg 
**/[Pp]ackages/* 
!**/[Pp]ackages/build/ 
# Cake - Uncomment if you are using it 
# tools/** 
# !tools/packages.config 
# MSBuild Binary and Structured Log 
*.binlog 
